data/*
archive/*
scratch/*
*.rds
*.RData
.Rhistory
.Rproj.user

# LaTeX intermediate files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.synctex.gz
*.lof
*.lot
*.idx
*.ilg
*.ind

# Compiled PDFs
*.pdf

# OS files
.DS_Store
Thumbs.db